<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jerrmy.bookkeeping.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="_User">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
         t_user_id as id,
         t_user_name as name,
         t_user_password as password,
         t_user_sex as sex,
         t_user_phone as phone,
         t_user_age as age
    </sql>

    <select id="getAllUsers" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
    </select>

    <select id="getUserById" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        WHERE t_user_id = #{id}
    </select>

    <select id="getUserByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        WHERE t_user_name like concat('%',#{name},'%')
    </select>

    <select id="getUserByPhone" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
        WHERE t_user_phone like concat('%',#{phone},'%')
    </select>

    <insert id="addUser" parameterType="_User">
       INSERT INTO
       		tb_user
       		(t_user_name,t_user_password,t_user_phone,t_user_age,t_user_sex)
       	VALUES
       		(#{name}, #{password}, #{phone}, #{age}, #{sex})
    </insert>

    <update id="updateUser" parameterType="_User">
        UPDATE
        tb_user
        <set>

        <if test="name != null">t_user_name = #{name},</if>
        <if test="password != null">t_user_password = #{password},</if>
        <if test="phone != null">t_user_phone = #{phone},</if>
        <if test="sex != null">t_user_sex = #{sex},</if>
        <if test="age != null">t_user_age = #{age}</if>
        </set>
        WHERE t_user_id = #{id}
    </update>

    <delete id="deleteUser" parameterType="Long">
       DELETE FROM
       		 tb_user
       WHERE
       		 t_user_id =#{id}
    </delete>

</mapper>